* {
  margin: 0;
  padding: 0;
}

#content {
  background-color: grey;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  padding: 40px 100px;
}
